@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
  @apply font-sans bg-gradient-radial from-primary-light via-white to-accent-blue min-h-screen text-slate-800 transition-colors duration-500;
}

::-webkit-scrollbar {
  width: 8px;
  background: #f3f4f6;
}
::-webkit-scrollbar-thumb {
  background: #a5b4fc;
  border-radius: 8px;
}
